.intro {
    max-width: 720px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 766px) {
    .intro {
        width: calc(100% - 16*2);
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 767px) {
    .intro {
        width: calc(100% - 24*2);
        margin-bottom: 88px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1023px) {
    .intro {
        max-width: 750px;
        margin-left: 48px;
    }
}

@media screen and (min-width: 1279px) {
    .intro {
        margin-left: 128px;
    }
}